<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sms.layout.themejunky.com.layout_sms_lib">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <activity android:name=".screens.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".screens.wallpapers.WallpapersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".screens.moreThemes.MoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".screens.rate.RateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".screens.dont.DontActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <!-- Wallpapers Live start-->

        <activity
            android:name=".lwp.SettingsLwp"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <service
            android:name=".lwp.WaterDropMain"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"

            android:permission="android.permission.BIND_WALLPAPER"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
        <!-- Wallpapers Live end-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c813e749e191df69d8323a1732637f4f93fb21bb" />
    </application>

</manifest>